In [1]:
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_people_who_died_in_traffic_collisions"
tables = pd.read_html(url)

In [3]:
type(tables)
len(tables)

25

In [4]:
df = tables[0]
df

,Name,Birth,Death,Aged,Nationality,Notability,Mode of transport,Vehicle,Crash location,Details
0,Norifumi Abe,1975.0,2007,32 years,Japanese,motorcycle racer,scooter,Yamaha XP 500 TMAX,"Kawasaki, Kanagawa, Japan","Collision with a truck, which made an illegal ..."
1,Anand Abhyankar,1963.0,2012,49 years,Indian,actor,car,NaN,"Pune, Maharashtra, India",[3]
2,Frank Adams,1930.0,1989,58 years,British,mathematician,car,NaN,"Brampton, Cambridgeshire, England, United Kingdom",NaN
3,Olubayo Adefemi,1985.0,2011,25 years,Nigerian,footballer,car,NaN,"Kavala, Greece",Adefemi was driving on Egnatia Odos when he co...
4,Adegoke Adelabu,1915.0,1958,42 years,Nigerian,politician,car,NaN,"Lagos-Ibadan Expressway, Nigeria",NaN
5,Nick Adenhart,1986.0,2009,22 years,American,baseball pitcher,car,Mitsubishi Eclipse,"Fullerton, California",A drunk driver ran a red light and hit the car...
6,Adrian Adonis,1953.0,1988,34 years,American,professional wrestler,minivan,NaN,"Lewisporte, Newfoundland, Canada",Two other passengers in the vehicle in which h...
7,Emmanuel Kwasi Afranie,1943.0,2016,73 years,Ghanaian,football coach,car,NaN,"Suhum, Ghana",NaN
8,Simonluca Agazzone,1981.0,2020,39 years,Italian,footballer,car,NaN,"Carpignano Sesia, Italy",NaN
9,Bruno Agostinelli,1987.0,2016,28 years,Canadian,tennis player,motorcycle,NaN,"Toronto, Ontario, Canada",Agostinelli lost control of his motorcycle and...
10,Ipče Ahmedovski,1966.0,1994,28 years,Macedonian,singer,car,Mercedes-Benz A124,"Šopići, Yugoslavia",Ahmedovski died in a car accident in 1994 on I...
11,Carl Albert,1962.0,1995,32 years,American,musician for Vicious Rumors,car,NaN,NaN,NaN
12,Martin Aldridge,1974.0,2000,25 years,British,footballer,car,Peugeot,"A45, England, United Kingdom",After being an unused substitute in a game for...
13,Ben Alexander,1971.0,1992,20 years,Australian,rugby league player,car,NaN,"Colyton, New South Wales, Australia",He was driving while intoxicated.
14,Alexandra,1942.0,1969,27 years,German,singer,car,Mercedes-Benz W128,"Tellingstedt, Germany","While going on a holiday, Alexandra collided w..."
15,Steve Allen,1921.0,2000,78 years,American,"actor, songwriter, author",car,NaN,"Encino, California",Died from a heart attack that was found to hav...
16,Duane Allman,1946.0,1971,24 years,American,guitarist for the Allman Brothers Band,motorcycle,Harley-Davidson,"Macon, Georgia",Allman lost control of his motorcycle when he ...
17,Yasser Al-Masri,1970.0,2018,47 years,Jordanian,actor,car,NaN,"Zarqa, Jordan",Al–Masri descended a slope leading a bus in hi...
18,Mahmadu Alphajor Bah,1977.0,2016,39 years,Sierra Leonean,footballer,car,NaN,"Freetown, Sierra Leone",He collided with an oncoming truck.[10]
19,Andrei Amalrik,1938.0,1980,42 years,Russian,writer,car,NaN,"near Guadalajara, Spain",Amalrik swerved out of his lane on a wet road ...
20,John Anderson,1944.0,1986,42 years,American,race car driver,car,NaN,"near Charlotte, North Carolina",Crash occurred on Interstate 85.
21,Eric Andolsek,1966.0,1992,25 years,American,football player,stationary,NaN,"Thibodaux, Louisiana",Andolsek was working in the front yard of his ...
22,Theo Angelopoulos,1935.0,2012,76 years,Greek,film director,pedestrian,NaN,"Drapetsona, Greece",He was hit by a motorcycle driven by an off-du...
23,Jack Anglin,1916.0,1963,46 years,American,country music singer; one half of the duo John...,car,NaN,"Madison, Tennessee",Died in crash en route to funeral of Patsy Cline.
24,Álex Angulo,1953.0,2014,61 years,Spanish,actor,car,NaN,"Fuenmayor, La Rioja, Spain",[11]
25,Rob Anker,NaN,2017,27 years,British,dancer (member of Diversity),car,Chevy Cobalt,Canada,[12]
26,Cristiano Araújo,1986.0,2015,29 years,Brazilian,singer and songwriter,car (passenger),Range Rover,"Goiânia, Goiás, Brazil","At approximately 3:30 am, the vehicle (driven ..."
27,Troy Archer,1955.0,1979,24 years,American,football player,car,NaN,"North Bergen, New Jersey",NaN
28,Nike Ardilla,1975.0,1995,19 years,Indonesian,rock singer and model,car,Honda Civic Genio,"Bandung, West Java, Indonesia",She lost control and hit a wall.
29,Silvana Armenulić,1938.0,1976,38 years,Bosnian,singer,car,Ford Granada,"Kolari, Smederevo, Yugoslavia",The car was reportedly travelling 130 km/h (80...
30,Reg Armstrong,1926.0,1979,52 years,Irish,motorcycle racer,motorcycle,NaN,"Avoca, County Wicklow, Ireland",NaN
31,Sándor Arnóth,1960.0,2011,51 years,Hungarian,politician,car,NaN,"Bag, Hungary",[14]
32,Carlos Arruza,1920.0,1966,46 years,Mexican,bullfighter,car,NaN,"Toluca, Estado de Mexico, Mexico",NaN
33,Kevin Ash,1959.0,2013,53 years,British,motorcycling journalist,motorcycle,NaN,"George, Western Cape, South Africa",[15]
34,Don Ashby,1955.0,1981,26 years,Canadian,ice hockey player,car,NaN,"Kelowna, British Columbia, Canada",Collided head-on with a pickup truck and died.
35,Georgi Asparuhov,1943.0,1971,28 years,Bulgarian,footballer,car,NaN,Bulgaria,NaN
36,Basil al-Assad,1962.0,1994,31 years,Syrian,eldest son and heir of president of Syria,car,Mercedes-Benz,"Damascus, Syria",While driving his car at high speed through fo...
37,Astrid of Sweden,1905.0,1935,29 years,Swedish,Queen of the Belgians,car (passenger),Packard One-Twenty convertible,"Küssnacht am Rigi, near Lake Lucerne, Schwyz, ...",As the Queen pointed out something on a map to...
38,Frank Attkisson,1955.0,2017,61 years,American,politician,bicycle,NaN,"St. Cloud, Florida",[19]
39,Pascale Audret[20],1936.0,2000,63 years,French,actress,car (passenger),NaN,"Brive-la-Gaillarde, Corrèze, France",NaN
40,Seriki Audu,1991.0,2014,23 years,Nigerian,footballer,car,NaN,"Bauchi State, Nigeria",NaN
41,Sukhraj Aujla,1968.0,2013,45 years,Indian,singer,car,NaN,NaN,[21]
42,Lauri Aus,1970.0,2003,32 years,Estonian,professional cyclist,bicycle,NaN,"Tartu, Estonia",Aus was struck by a truck during a workout ses...
43,Theyab Awana,1990.0,2011,21 years,Emirati,footballer,car,NaN,"Abu Dhabi, United Arab Emirates",[23]

In [5]:
df.describe
df.dtypes

Name                  object
Birth                float64
Death                  int64
Aged                  object
Nationality           object
Notability            object
Mode of transport     object
Vehicle               object
Crash location        object
Details               object
dtype: object

In [6]:
# Extracting age out of Aged
age = [int(sub.split(' ')[0]) for sub in df.Aged]
age

[32,
 49,
 58,
 25,
 42,
 22,
 34,
 73,
 39,
 28,
 28,
 32,
 25,
 20,
 27,
 78,
 24,
 47,
 39,
 42,
 42,
 25,
 76,
 46,
 61,
 27,
 29,
 24,
 19,
 38,
 52,
 51,
 46,
 53,
 26,
 28,
 31,
 29,
 61,
 63,
 23,
 45,
 32,
 21]

In [7]:
df['Age'] = age
df

,Name,Birth,Death,Aged,Nationality,Notability,Mode of transport,Vehicle,Crash location,Details,Age
0,Norifumi Abe,1975.0,2007,32 years,Japanese,motorcycle racer,scooter,Yamaha XP 500 TMAX,"Kawasaki, Kanagawa, Japan","Collision with a truck, which made an illegal ...",32
1,Anand Abhyankar,1963.0,2012,49 years,Indian,actor,car,NaN,"Pune, Maharashtra, India",[3],49
2,Frank Adams,1930.0,1989,58 years,British,mathematician,car,NaN,"Brampton, Cambridgeshire, England, United Kingdom",NaN,58
3,Olubayo Adefemi,1985.0,2011,25 years,Nigerian,footballer,car,NaN,"Kavala, Greece",Adefemi was driving on Egnatia Odos when he co...,25
4,Adegoke Adelabu,1915.0,1958,42 years,Nigerian,politician,car,NaN,"Lagos-Ibadan Expressway, Nigeria",NaN,42
5,Nick Adenhart,1986.0,2009,22 years,American,baseball pitcher,car,Mitsubishi Eclipse,"Fullerton, California",A drunk driver ran a red light and hit the car...,22
6,Adrian Adonis,1953.0,1988,34 years,American,professional wrestler,minivan,NaN,"Lewisporte, Newfoundland, Canada",Two other passengers in the vehicle in which h...,34
7,Emmanuel Kwasi Afranie,1943.0,2016,73 years,Ghanaian,football coach,car,NaN,"Suhum, Ghana",NaN,73
8,Simonluca Agazzone,1981.0,2020,39 years,Italian,footballer,car,NaN,"Carpignano Sesia, Italy",NaN,39
9,Bruno Agostinelli,1987.0,2016,28 years,Canadian,tennis player,motorcycle,NaN,"Toronto, Ontario, Canada",Agostinelli lost control of his motorcycle and...,28
10,Ipče Ahmedovski,1966.0,1994,28 years,Macedonian,singer,car,Mercedes-Benz A124,"Šopići, Yugoslavia",Ahmedovski died in a car accident in 1994 on I...,28
11,Carl Albert,1962.0,1995,32 years,American,musician for Vicious Rumors,car,NaN,NaN,NaN,32
12,Martin Aldridge,1974.0,2000,25 years,British,footballer,car,Peugeot,"A45, England, United Kingdom",After being an unused substitute in a game for...,25
13,Ben Alexander,1971.0,1992,20 years,Australian,rugby league player,car,NaN,"Colyton, New South Wales, Australia",He was driving while intoxicated.,20
14,Alexandra,1942.0,1969,27 years,German,singer,car,Mercedes-Benz W128,"Tellingstedt, Germany","While going on a holiday, Alexandra collided w...",27
15,Steve Allen,1921.0,2000,78 years,American,"actor, songwriter, author",car,NaN,"Encino, California",Died from a heart attack that was found to hav...,78
16,Duane Allman,1946.0,1971,24 years,American,guitarist for the Allman Brothers Band,motorcycle,Harley-Davidson,"Macon, Georgia",Allman lost control of his motorcycle when he ...,24
17,Yasser Al-Masri,1970.0,2018,47 years,Jordanian,actor,car,NaN,"Zarqa, Jordan",Al–Masri descended a slope leading a bus in hi...,47
18,Mahmadu Alphajor Bah,1977.0,2016,39 years,Sierra Leonean,footballer,car,NaN,"Freetown, Sierra Leone",He collided with an oncoming truck.[10],39
19,Andrei Amalrik,1938.0,1980,42 years,Russian,writer,car,NaN,"near Guadalajara, Spain",Amalrik swerved out of his lane on a wet road ...,42
20,John Anderson,1944.0,1986,42 years,American,race car driver,car,NaN,"near Charlotte, North Carolina",Crash occurred on Interstate 85.,42
21,Eric Andolsek,1966.0,1992,25 years,American,football player,stationary,NaN,"Thibodaux, Louisiana",Andolsek was working in the front yard of his ...,25
22,Theo Angelopoulos,1935.0,2012,76 years,Greek,film director,pedestrian,NaN,"Drapetsona, Greece",He was hit by a motorcycle driven by an off-du...,76
23,Jack Anglin,1916.0,1963,46 years,American,country music singer; one half of the duo John...,car,NaN,"Madison, Tennessee",Died in crash en route to funeral of Patsy Cline.,46
24,Álex Angulo,1953.0,2014,61 years,Spanish,actor,car,NaN,"Fuenmayor, La Rioja, Spain",[11],61
25,Rob Anker,NaN,2017,27 years,British,dancer (member of Diversity),car,Chevy Cobalt,Canada,[12],27
26,Cristiano Araújo,1986.0,2015,29 years,Brazilian,singer and songwriter,car (passenger),Range Rover,"Goiânia, Goiás, Brazil","At approximately 3:30 am, the vehicle (driven ...",29
27,Troy Archer,1955.0,1979,24 years,American,football player,car,NaN,"North Bergen, New Jersey",NaN,24
28,Nike Ardilla,1975.0,1995,19 years,Indonesian,rock singer and model,car,Honda Civic Genio,"Bandung, West Java, Indonesia",She lost control and hit a wall.,19
29,Silvana Armenulić,1938.0,1976,38 years,Bosnian,singer,car,Ford Granada,"Kolari, Smederevo, Yugoslavia",The car was reportedly travelling 130 km/h (80...,38
30,Reg Armstrong,1926.0,1979,52 years,Irish,motorcycle racer,motorcycle,NaN,"Avoca, County Wicklow, Ireland",NaN,52
31,Sándor Arnóth,1960.0,2011,51 years,Hungarian,politician,car,NaN,"Bag, Hungary",[14],51
32,Carlos Arruza,1920.0,1966,46 years,Mexican,bullfighter,car,NaN,"Toluca, Estado de Mexico, Mexico",NaN,46
33,Kevin Ash,1959.0,2013,53 years,British,motorcycling journalist,motorcycle,NaN,"George, Western Cape, South Africa",[15],53
34,Don Ashby,1955.0,1981,26 years,Canadian,ice hockey player,car,NaN,"Kelowna, British Columbia, Canada",Collided head-on with a pickup truck and died.,26
35,Georgi Asparuhov,1943.0,1971,28 years,Bulgarian,footballer,car,NaN,Bulgaria,NaN,28
36,Basil al-Assad,1962.0,1994,31 years,Syrian,eldest son and heir of president of Syria,car,Mercedes-Benz,"Damascus, Syria",While driving his car at high speed through fo...,31
37,Astrid of Sweden,1905.0,1935,29 years,Swedish,Queen of the Belgians,car (passenger),Packard One-Twenty convertible,"Küssnacht am Rigi, near Lake Lucerne, Schwyz, ...",As the Queen pointed out something on a map to...,29
38,Frank Attkisson,1955.0,2017,61 years,American,politician,bicycle,NaN,"St. Cloud, Florida",[19],61
39,Pascale Audret[20],1936.0,2000,63 years,French,actress,car (passenger),NaN,"Brive-la-Gaillarde, Corrèze, France",NaN,63
40,Seriki Audu,1991.0,2014,23 years,Nigerian,footballer,car,NaN,"Bauchi State, Nigeria",NaN,23
41,Sukhraj Aujla,1968.0,2013,45 years,Indian,singer,car,NaN,NaN,[21],45
42,Lauri Aus,1970.0,2003,32 years,Estonian,professional cyclist,bicycle,NaN,"Tartu, Estonia",Aus was struck by a truck during a workout ses...,32
43,Theyab Awana,1990.0,2011,21 years,Emirati,footballer,car,NaN,"Abu Dhabi, United Arab Emirates",[23],21

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               44 non-null     object
 1   Birth              43 non-null     float64
 2   Death              44 non-null     int64
 3   Aged               44 non-null     object
 4   Nationality        44 non-null     object
 5   Notability         44 non-null     object
 6   Mode of transport  44 non-null     object
 7   Vehicle            12 non-null     object
 8   Crash location     42 non-null     object
 9   Details            33 non-null     object
 10  Age                44 non-null     int64
dtypes: float64(1), int64(2), object(8)
memory usage: 3.9+ KB

In [9]:
# Dropping null crash location
df = df.rename(columns={"Crash location": 'Crash_location'})
df = df.drop(columns={'Aged'})

In [10]:
# looking at nulls
df.isna().sum()

Name                  0
Birth                 1
Death                 0
Nationality           0
Notability            0
Mode of transport     0
Vehicle              32
Crash_location        2
Details              11
Age                   0
dtype: int64

In [11]:
# Getting rid of the birth null value
df = df[df['Birth'].notna()]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43 entries, 0 to 43
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               43 non-null     object
 1   Birth              43 non-null     float64
 2   Death              43 non-null     int64
 3   Nationality        43 non-null     object
 4   Notability         43 non-null     object
 5   Mode of transport  43 non-null     object
 6   Vehicle            11 non-null     object
 7   Crash_location     41 non-null     object
 8   Details            32 non-null     object
 9   Age                43 non-null     int64
dtypes: float64(1), int64(2), object(7)
memory usage: 3.7+ KB

In [12]:
df.isna().sum()

Name                  0
Birth                 0
Death                 0
Nationality           0
Notability            0
Mode of transport     0
Vehicle              32
Crash_location        2
Details              11
Age                   0
dtype: int64

In [13]:
df['Birth'] = df.Birth.astype('int64')

In [14]:
df.head()

,Name,Birth,Death,Nationality,Notability,Mode of transport,Vehicle,Crash_location,Details,Age
0,Norifumi Abe,1975,2007,Japanese,motorcycle racer,scooter,Yamaha XP 500 TMAX,"Kawasaki, Kanagawa, Japan","Collision with a truck, which made an illegal ...",32
1,Anand Abhyankar,1963,2012,Indian,actor,car,NaN,"Pune, Maharashtra, India",[3],49
2,Frank Adams,1930,1989,British,mathematician,car,NaN,"Brampton, Cambridgeshire, England, United Kingdom",NaN,58
3,Olubayo Adefemi,1985,2011,Nigerian,footballer,car,NaN,"Kavala, Greece",Adefemi was driving on Egnatia Odos when he co...,25
4,Adegoke Adelabu,1915,1958,Nigerian,politician,car,NaN,"Lagos-Ibadan Expressway, Nigeria",NaN,42

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43 entries, 0 to 43
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               43 non-null     object
 1   Birth              43 non-null     int64
 2   Death              43 non-null     int64
 3   Nationality        43 non-null     object
 4   Notability         43 non-null     object
 5   Mode of transport  43 non-null     object
 6   Vehicle            11 non-null     object
 7   Crash_location     41 non-null     object
 8   Details            32 non-null     object
 9   Age                43 non-null     int64
dtypes: int64(3), object(7)
memory usage: 3.7+ KB

In [16]:
df.Birth.astype('int64')

0     1975
1     1963
2     1930
3     1985
4     1915
5     1986
6     1953
7     1943
8     1981
9     1987
10    1966
11    1962
12    1974
13    1971
14    1942
15    1921
16    1946
17    1970
18    1977
19    1938
20    1944
21    1966
22    1935
23    1916
24    1953
26    1986
27    1955
28    1975
29    1938
30    1926
31    1960
32    1920
33    1959
34    1955
35    1943
36    1962
37    1905
38    1955
39    1936
40    1991
41    1968
42    1970
43    1990
Name: Birth, dtype: int64

In [17]:
type(df.Crash_location[0])

str

In [18]:
df['Crash_location'] = df.Crash_location.astype(str)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43 entries, 0 to 43
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               43 non-null     object
 1   Birth              43 non-null     int64
 2   Death              43 non-null     int64
 3   Nationality        43 non-null     object
 4   Notability         43 non-null     object
 5   Mode of transport  43 non-null     object
 6   Vehicle            11 non-null     object
 7   Crash_location     43 non-null     object
 8   Details            32 non-null     object
 9   Age                43 non-null     int64
dtypes: int64(3), object(7)
memory usage: 4.9+ KB

In [20]:
# Extracting the location to give me only the country
df['Country'] = df.apply(lambda row: row['Crash_location'].split(', ')[-1], axis=1)

In [21]:
df.head()

,Name,Birth,Death,Nationality,Notability,Mode of transport,Vehicle,Crash_location,Details,Age,Country
0,Norifumi Abe,1975,2007,Japanese,motorcycle racer,scooter,Yamaha XP 500 TMAX,"Kawasaki, Kanagawa, Japan","Collision with a truck, which made an illegal ...",32,Japan
1,Anand Abhyankar,1963,2012,Indian,actor,car,NaN,"Pune, Maharashtra, India",[3],49,India
2,Frank Adams,1930,1989,British,mathematician,car,NaN,"Brampton, Cambridgeshire, England, United Kingdom",NaN,58,United Kingdom
3,Olubayo Adefemi,1985,2011,Nigerian,footballer,car,NaN,"Kavala, Greece",Adefemi was driving on Egnatia Odos when he co...,25,Greece
4,Adegoke Adelabu,1915,1958,Nigerian,politician,car,NaN,"Lagos-Ibadan Expressway, Nigeria",NaN,42,Nigeria

In [22]:
# Grouping by Country (US States are in instead of US) and keeping it a data frame
country = df.groupby('Country').count()[['Crash_location']]

In [23]:
country

                      Crash_location
Country
Australia                          1
Brazil                             1
Bulgaria                           1
California                         2
Canada                             3
Estonia                            1
Florida                            1
France                             1
Georgia                            1
Germany                            1
Ghana                              1
Greece                             2
Hungary                            1
India                              1
Indonesia                          1
Ireland                            1
Italy                              1
Japan                              1
Jordan                             1
Louisiana                          1
Mexico                             1
New Jersey                         1
Nigeria                            2
North Carolina                     1
Sierra Leone                       1
South Africa                       1
Spain                              2
Switzerland                        1
Syria                              1
Tennessee                          1
United Arab Emirates               1
United Kingdom                     2
Yugoslavia                         2
nan                                2

In [24]:
country.columns = ['Events']

In [25]:
# Sorting by Country from highest to lowest
country.sort_values('Events', ascending = False)

                      Events
Country
Canada                     3
nan                        2
Yugoslavia                 2
California                 2
United Kingdom             2
Nigeria                    2
Spain                      2
Greece                     2
South Africa               1
New Jersey                 1
North Carolina             1
Sierra Leone               1
Switzerland                1
Louisiana                  1
Syria                      1
Tennessee                  1
United Arab Emirates       1
Mexico                     1
Australia                  1
Jordan                     1
Brazil                     1
Italy                      1
Ireland                    1
Indonesia                  1
India                      1
Hungary                    1
Ghana                      1
Germany                    1
Georgia                    1
France                     1
Florida                    1
Estonia                    1
Bulgaria                   1
Japan                      1

# Now going to create a function to make work reproducable

In [26]:
def a_names_table(url,tables):
    '''
    This equation takes in a url and a tables pandas df to create the inital table df. Then it is edited to
    digest easier
    '''
    df = tables[0]
    age = [int(sub.split(' ')[0]) for sub in df.Aged]
    df['Age'] = age
    df = df.rename(columns={"Crash location": 'Crash_location'})
    df = df.drop(columns={'Aged'})
    df = df[df['Birth'].notna()]
    df['Birth'] = df.Birth.astype('int64')
    type(df.Crash_location[0])
    df['Crash_location'] = df.Crash_location.astype(str)
    df['Country'] = df.apply(lambda row: row['Crash_location'].split(', ')[-1], axis=1)
    return df

In [27]:
a_names_table(url,tables)

,Name,Birth,Death,Nationality,Notability,Mode of transport,Vehicle,Crash_location,Details,Age,Country
0,Norifumi Abe,1975,2007,Japanese,motorcycle racer,scooter,Yamaha XP 500 TMAX,"Kawasaki, Kanagawa, Japan","Collision with a truck, which made an illegal ...",32,Japan
1,Anand Abhyankar,1963,2012,Indian,actor,car,NaN,"Pune, Maharashtra, India",[3],49,India
2,Frank Adams,1930,1989,British,mathematician,car,NaN,"Brampton, Cambridgeshire, England, United Kingdom",NaN,58,United Kingdom
3,Olubayo Adefemi,1985,2011,Nigerian,footballer,car,NaN,"Kavala, Greece",Adefemi was driving on Egnatia Odos when he co...,25,Greece
4,Adegoke Adelabu,1915,1958,Nigerian,politician,car,NaN,"Lagos-Ibadan Expressway, Nigeria",NaN,42,Nigeria
5,Nick Adenhart,1986,2009,American,baseball pitcher,car,Mitsubishi Eclipse,"Fullerton, California",A drunk driver ran a red light and hit the car...,22,California
6,Adrian Adonis,1953,1988,American,professional wrestler,minivan,NaN,"Lewisporte, Newfoundland, Canada",Two other passengers in the vehicle in which h...,34,Canada
7,Emmanuel Kwasi Afranie,1943,2016,Ghanaian,football coach,car,NaN,"Suhum, Ghana",NaN,73,Ghana
8,Simonluca Agazzone,1981,2020,Italian,footballer,car,NaN,"Carpignano Sesia, Italy",NaN,39,Italy
9,Bruno Agostinelli,1987,2016,Canadian,tennis player,motorcycle,NaN,"Toronto, Ontario, Canada",Agostinelli lost control of his motorcycle and...,28,Canada
10,Ipče Ahmedovski,1966,1994,Macedonian,singer,car,Mercedes-Benz A124,"Šopići, Yugoslavia",Ahmedovski died in a car accident in 1994 on I...,28,Yugoslavia
11,Carl Albert,1962,1995,American,musician for Vicious Rumors,car,NaN,nan,NaN,32,nan
12,Martin Aldridge,1974,2000,British,footballer,car,Peugeot,"A45, England, United Kingdom",After being an unused substitute in a game for...,25,United Kingdom
13,Ben Alexander,1971,1992,Australian,rugby league player,car,NaN,"Colyton, New South Wales, Australia",He was driving while intoxicated.,20,Australia
14,Alexandra,1942,1969,German,singer,car,Mercedes-Benz W128,"Tellingstedt, Germany","While going on a holiday, Alexandra collided w...",27,Germany
15,Steve Allen,1921,2000,American,"actor, songwriter, author",car,NaN,"Encino, California",Died from a heart attack that was found to hav...,78,California
16,Duane Allman,1946,1971,American,guitarist for the Allman Brothers Band,motorcycle,Harley-Davidson,"Macon, Georgia",Allman lost control of his motorcycle when he ...,24,Georgia
17,Yasser Al-Masri,1970,2018,Jordanian,actor,car,NaN,"Zarqa, Jordan",Al–Masri descended a slope leading a bus in hi...,47,Jordan
18,Mahmadu Alphajor Bah,1977,2016,Sierra Leonean,footballer,car,NaN,"Freetown, Sierra Leone",He collided with an oncoming truck.[10],39,Sierra Leone
19,Andrei Amalrik,1938,1980,Russian,writer,car,NaN,"near Guadalajara, Spain",Amalrik swerved out of his lane on a wet road ...,42,Spain
20,John Anderson,1944,1986,American,race car driver,car,NaN,"near Charlotte, North Carolina",Crash occurred on Interstate 85.,42,North Carolina
21,Eric Andolsek,1966,1992,American,football player,stationary,NaN,"Thibodaux, Louisiana",Andolsek was working in the front yard of his ...,25,Louisiana
22,Theo Angelopoulos,1935,2012,Greek,film director,pedestrian,NaN,"Drapetsona, Greece",He was hit by a motorcycle driven by an off-du...,76,Greece
23,Jack Anglin,1916,1963,American,country music singer; one half of the duo John...,car,NaN,"Madison, Tennessee",Died in crash en route to funeral of Patsy Cline.,46,Tennessee
24,Álex Angulo,1953,2014,Spanish,actor,car,NaN,"Fuenmayor, La Rioja, Spain",[11],61,Spain
26,Cristiano Araújo,1986,2015,Brazilian,singer and songwriter,car (passenger),Range Rover,"Goiânia, Goiás, Brazil","At approximately 3:30 am, the vehicle (driven ...",29,Brazil
27,Troy Archer,1955,1979,American,football player,car,NaN,"North Bergen, New Jersey",NaN,24,New Jersey
28,Nike Ardilla,1975,1995,Indonesian,rock singer and model,car,Honda Civic Genio,"Bandung, West Java, Indonesia",She lost control and hit a wall.,19,Indonesia
29,Silvana Armenulić,1938,1976,Bosnian,singer,car,Ford Granada,"Kolari, Smederevo, Yugoslavia",The car was reportedly travelling 130 km/h (80...,38,Yugoslavia
30,Reg Armstrong,1926,1979,Irish,motorcycle racer,motorcycle,NaN,"Avoca, County Wicklow, Ireland",NaN,52,Ireland
31,Sándor Arnóth,1960,2011,Hungarian,politician,car,NaN,"Bag, Hungary",[14],51,Hungary
32,Carlos Arruza,1920,1966,Mexican,bullfighter,car,NaN,"Toluca, Estado de Mexico, Mexico",NaN,46,Mexico
33,Kevin Ash,1959,2013,British,motorcycling journalist,motorcycle,NaN,"George, Western Cape, South Africa",[15],53,South Africa
34,Don Ashby,1955,1981,Canadian,ice hockey player,car,NaN,"Kelowna, British Columbia, Canada",Collided head-on with a pickup truck and died.,26,Canada
35,Georgi Asparuhov,1943,1971,Bulgarian,footballer,car,NaN,Bulgaria,NaN,28,Bulgaria
36,Basil al-Assad,1962,1994,Syrian,eldest son and heir of president of Syria,car,Mercedes-Benz,"Damascus, Syria",While driving his car at high speed through fo...,31,Syria
37,Astrid of Sweden,1905,1935,Swedish,Queen of the Belgians,car (passenger),Packard One-Twenty convertible,"Küssnacht am Rigi, near Lake Lucerne, Schwyz, ...",As the Queen pointed out something on a map to...,29,Switzerland
38,Frank Attkisson,1955,2017,American,politician,bicycle,NaN,"St. Cloud, Florida",[19],61,Florida
39,Pascale Audret[20],1936,2000,French,actress,car (passenger),NaN,"Brive-la-Gaillarde, Corrèze, France",NaN,63,France
40,Seriki Audu,1991,2014,Nigerian,footballer,car,NaN,"Bauchi State, Nigeria",NaN,23,Nigeria
41,Sukhraj Aujla,1968,2013,Indian,singer,car,NaN,nan,[21],45,nan
42,Lauri Aus,1970,2003,Estonian,professional cyclist,bicycle,NaN,"Tartu, Estonia",Aus was struck by a truck during a workout ses...,32,Estonia
43,Theyab Awana,1990,2011,Emirati,footballer,car,NaN,"Abu Dhabi, United Arab Emirates",[23],21,United Arab Emirates

In [28]:
tables

[                      Name   Birth  Death      Aged     Nationality  \
 0             Norifumi Abe  1975.0   2007  32 years        Japanese
 1          Anand Abhyankar  1963.0   2012  49 years          Indian
 2              Frank Adams  1930.0   1989  58 years         British
 3          Olubayo Adefemi  1985.0   2011  25 years        Nigerian
 4          Adegoke Adelabu  1915.0   1958  42 years        Nigerian
 5            Nick Adenhart  1986.0   2009  22 years        American
 6            Adrian Adonis  1953.0   1988  34 years        American
 7   Emmanuel Kwasi Afranie  1943.0   2016  73 years        Ghanaian
 8       Simonluca Agazzone  1981.0   2020  39 years         Italian
 9        Bruno Agostinelli  1987.0   2016  28 years        Canadian
 10         Ipče Ahmedovski  1966.0   1994  28 years      Macedonian
 11             Carl Albert  1962.0   1995  32 years        American
 12         Martin Aldridge  1974.0   2000  25 years         British
 13           Ben Alexander  1971.0   1992  20 years      Australian
 14               Alexandra  1942.0   1969  27 years          German
 15             Steve Allen  1921.0   2000  78 years        American
 16            Duane Allman  1946.0   1971  24 years        American
 17         Yasser Al-Masri  1970.0   2018  47 years       Jordanian
 18    Mahmadu Alphajor Bah  1977.0   2016  39 years  Sierra Leonean
 19          Andrei Amalrik  1938.0   1980  42 years         Russian
 20           John Anderson  1944.0   1986  42 years        American
 21           Eric Andolsek  1966.0   1992  25 years        American
 22       Theo Angelopoulos  1935.0   2012  76 years           Greek
 23             Jack Anglin  1916.0   1963  46 years        American
 24             Álex Angulo  1953.0   2014  61 years         Spanish
 25               Rob Anker     NaN   2017  27 years         British
 26        Cristiano Araújo  1986.0   2015  29 years       Brazilian
 27             Troy Archer  1955.0   1979  24 years        American
 28            Nike Ardilla  1975.0   1995  19 years      Indonesian
 29       Silvana Armenulić  1938.0   1976  38 years         Bosnian
 30           Reg Armstrong  1926.0   1979  52 years           Irish
 31           Sándor Arnóth  1960.0   2011  51 years       Hungarian
 32           Carlos Arruza  1920.0   1966  46 years         Mexican
 33               Kevin Ash  1959.0   2013  53 years         British
 34               Don Ashby  1955.0   1981  26 years        Canadian
 35        Georgi Asparuhov  1943.0   1971  28 years       Bulgarian
 36          Basil al-Assad  1962.0   1994  31 years          Syrian
 37        Astrid of Sweden  1905.0   1935  29 years         Swedish
 38         Frank Attkisson  1955.0   2017  61 years        American
 39      Pascale Audret[20]  1936.0   2000  63 years          French
 40             Seriki Audu  1991.0   2014  23 years        Nigerian
 41           Sukhraj Aujla  1968.0   2013  45 years          Indian
 42               Lauri Aus  1970.0   2003  32 years        Estonian
 43            Theyab Awana  1990.0   2011  21 years         Emirati

                                            Notability Mode of transport  \
 0                                    motorcycle racer           scooter
 1                                               actor               car
 2                                       mathematician               car
 3                                          footballer               car
 4                                          politician               car
 5                                    baseball pitcher               car
 6                               professional wrestler           minivan
 7                                      football coach               car
 8                                          footballer               car
 9                                       tennis player        motorcycle
 10                                             singer               car
 11                        musician for Vicious Rumors               car
 12                                         footballer               car
 13                                rugby league player               car
 14                                             singer               car
 15                          actor, songwriter, author               car
 16             guitarist for the Allman Brothers Band        motorcycle
 17                                              actor               car
 18                                         footballer               car
 19                                             writer               car
 20                                    race car driver               car
 21                                    football player        stationary
 22                                      film director        pedestrian
 23  country music singer; one half of the duo John...               car
 24                                              actor               car
 25                       dancer (member of Diversity)               car
 26                              singer and songwriter   car (passenger)
 27                                    football player               car
 28                              rock singer and model               car
 29                                             singer               car
 30                                   motorcycle racer        motorcycle
 31                                         politician               car
 32                                        bullfighter               car
 33                            motorcycling journalist        motorcycle
 34                                  ice hockey player               car
 35                                         footballer               car
 36          eldest son and heir of president of Syria               car
 37                              Queen of the Belgians   car (passenger)
 38                                         politician           bicycle
 39                                            actress   car (passenger)
 40                                         footballer               car
 41                                             singer               car
 42                               professional cyclist           bicycle
 43                                         footballer               car

                            Vehicle  \
 0               Yamaha XP 500 TMAX
 1                              NaN
 2                              NaN
 3                              NaN
 4                              NaN
 5               Mitsubishi Eclipse
 6                              NaN
 7                              NaN
 8                              NaN
 9                              NaN
 10              Mercedes-Benz A124
 11                             NaN
 12                         Peugeot
 13                             NaN
 14              Mercedes-Benz W128
 15                             NaN
 16                 Harley-Davidson
 17                             NaN
 18                             NaN
 19                             NaN
 20                             NaN
 21                             NaN
 22                             NaN
 23                             NaN
 24                             NaN
 25                    Chevy Cobalt
 26                     Range Rover
 27                             NaN
 28               Honda Civic Genio
 29                    Ford Granada
 30                             NaN
 31                             NaN
 32                             NaN
 33                             NaN
 34                             NaN
 35                             NaN
 36                   Mercedes-Benz
 37  Packard One-Twenty convertible
 38                             NaN
 39                             NaN
 40                             NaN
 41                             NaN
 42                             NaN
 43                             NaN

                                        Crash location  \
 0                           Kawasaki, Kanagawa, Japan
 1                            Pune, Maharashtra, India
 2   Brampton, Cambridgeshire, England, United Kingdom
 3                                      Kavala, Greece
 4                    Lagos-Ibadan Expressway, Nigeria
 5                               Fullerton, California
 6                    Lewisporte, Newfoundland, Canada
 7                                        Suhum, Ghana
 8                             Carpignano Sesia, Italy
 9                            Toronto, Ontario, Canada
 10                                 Šopići, Yugoslavia
 11                                                NaN
 12                       A45, England, United Kingdom
 13                Colyton, New South Wales, Australia
 14                              Tellingstedt, Germany
 15                                 Encino, California
 16                                     Macon, Georgia
 17                                      Zarqa, Jordan
 18                             Freetown, Sierra Leone
 19                            near Guadalajara, Spain
 20                     near Charlotte, North Carolina
 21                               Thibodaux, Louisiana
 22                                 Drapetsona, Greece
 23                                 Madison, Tennessee
 24                         Fuenmayor, La Rioja, Spain
 25                                             Canada
 26                             Goiânia, Goiás, Brazil
 27                           North Bergen, New Jersey
 28                      Bandung, West Java, Indonesia
 29                      Kolari, Smederevo, Yugoslavia
 30                     Avoca, County Wicklow, Ireland
 31                                       Bag, Hungary
 32                   Toluca, Estado de Mexico, Mexico
 33                 George, Western Cape, South Africa
 34                  Kelowna, British Columbia, Canada
 35                                           Bulgaria
 36                                    Damascus, Syria
 37  Küssnacht am Rigi, near Lake Lucerne, Schwyz, ...
 38                                 St. Cloud, Florida
 39                Brive-la-Gaillarde, Corrèze, France
 40                              Bauchi State, Nigeria
 41                                                NaN
 42                                     Tartu, Estonia
 43                    Abu Dhabi, United Arab Emirates

                                               Details  Age
 0   Collision with a truck, which made an illegal ...   32
 1                                                 [3]   49
 2                                                 NaN   58
 3   Adefemi was driving on Egnatia Odos when he co...   25
 4                                                 NaN   42
 5   A drunk driver ran a red light and hit the car...   22
 6   Two other passengers in the vehicle in which h...   34
 7                                                 NaN   73
 8                                                 NaN   39
 9   Agostinelli lost control of his motorcycle and...   28
 10  Ahmedovski died in a car accident in 1994 on I...   28
 11                                                NaN   32
 12  After being an unused substitute in a game for...   25
 13                  He was driving while intoxicated.   20
 14  While going on a holiday, Alexandra collided w...   27
 15  Died from a heart attack that was found to hav...   78
 16  Allman lost control of his motorcycle when he ...   24
 17  Al–Masri descended a slope leading a bus in hi...   47
 18            He collided with an oncoming truck.[10]   39
 19  Amalrik swerved out of his lane on a wet road ...   42
 20                   Crash occurred on Interstate 85.   42
 21  Andolsek was working in the front yard of his ...   25
 22  He was hit by a motorcycle driven by an off-du...   76
 23  Died in crash en route to funeral of Patsy Cline.   46
 24                                               [11]   61
 25                                               [12]   27
 26  At approximately 3:30 am, the vehicle (driven ...   29
 27                                                NaN   24
 28                   She lost control and hit a wall.   19
 29  The car was reportedly travelling 130 km/h (80...   38
 30                                                NaN   52
 31                                               [14]   51
 32                                                NaN   46
 33                                               [15]   53
 34     Collided head-on with a pickup truck and died.   26
 35                                                NaN   28
 36  While driving his car at high speed through fo...   31
 37  As the Queen pointed out something on a map to...   29
 38                                               [19]   61
 39                                                NaN   63
 40                                                NaN   23
 41                                               [21]   45
 42  Aus was struck by a truck during a workout ses...   32
 43                                               [23]   21  ,
                       Name   Birth  Death      Aged    Nationality  \
 0              Roland Baar  1965.0   2018  53 years         German
 1           Sammy Babitzin  1948.0   1973  24 years        Finnish
 2             Pape Badiane  1980.0   2016  36 years         French
 3    Mirsada Bajraktarević  1951.0   1976  25 years        Bosnian
 4             Tarnia Baker  1967.0   2017  50 years  South African
 ..                     ...     ...    ...       ...            ...
 101           Cliff Burton  1962.0   1986  24 years       American
 102          Norman Burton  1923.0   2003  79 years       American
 103       Fred Buscaglione  1921.0   1960  38 years        Italian
 104          Rasual Butler  1979.0   2018  38 years       American
 105            Dennis Byrd  1966.0   2016  50 years       American

                    Notability Mode of transport           Vehicle  \
 0                       rower               car               NaN
 1                      singer               car        Alfa Romeo
 2           basketball player               car               NaN
 3                      singer               car      Ford Granada
 4                  politician        pedestrian               NaN
 ..                        ...               ...               ...
 101  Metallica bass guitarist          tour bus               NaN
 102                     actor               car               NaN
 103          singer, musician               car  Ford Thunderbird
 104         basketball player               car       Range Rover
 105                  football               car         Hummer H2

                                         Crash location  \
 0                                      Velpke, Germany
 1               Route (Valatie) 13, Hietama, Äänekoski
 2                        Frontenay-Rohan-Rohan, France
 3                        Kolari, Smederevo, Yugoslavia
 4                             Park Rynie, South Africa
 ..                                                 ...
 101  European route E4 in Ljungby Municipality, Sweden
 102                Imperial, California, United States
 103                                        Rome, Italy
 104                            Studio City, California
 105                                Claremore, Oklahoma

                                                Details
 0                                                 [24]
 1    Babitzin travelled in a speeding car en route ...
 2                  Badiane died in a car accident.[26]
 3    The car was reportedly travelling 130 km/h (80...
 4    Struck by a truck while walking across a stree...
 ..                                                 ...
 101  Thrown out of the window and crushed after the...
 102  Auto crash while returning from Ajijic, Mexico...
 103                              collided with a truck
 104  His wife, singer Leah LaBelle died in the same...
 105                                               [76]

 [106 rows x 10 columns],
                                Name   Birth  Death      Aged Nationality  \
 0                     Victor Cabedo  1989.0   2012  23 years     Spanish
 1   Cadet, real name Blaine Johnson  1990.0   2019  28 years     British
 2                    Tommy Caldwell  1949.0   1980  30 years    American
 3                  Cosimo Caliandro  1982.0   2011  29 years     Italian
 4                    Jason Callahan  1976.0   1995  19 years    American
 ..                              ...     ...    ...       ...         ...
 73                     Pierre Curie  1859.0   1906  46 years      French
 74                      Greg Curnoe  1936.0   1992  55 years    Canadian
 75                     Steve Currie  1947.0   1981  33 years     British
 76                       Mac Curtis  1939.0   2013  74 years    American
 77                      Ian Cuttler  1971.0   2014  43 years     Mexican

                                            Notability Mode of transport  \
 0                                             cyclist               car
 1                                              Rapper   car (passenger)
 2                    The Marshall Tucker Band bassist               car
 3                              middle-distance runner        motorcycle
 4                                                 NaN               car
 ..                                                ...               ...
 73  chemist and physicist, 1903 Nobel Prize recipient        pedestrian
 74                                            painter           bicycle
 75                                 bassist for T. Rex               car
 76                                             singer               car
 77        art director, photographer & graphic design               car

          Vehicle               Crash location  \
 0            NaN             Almedijar, Spain
 1   Toyota Prius        Betley, Staffordshire
 2   Land Cruiser  Spartanburg, South Carolina
 3            NaN   Francavilla Fontana, Italy
 4            NaN            Emporia, Virginia
 ..           ...                          ...
 73           NaN  Rue Dauphine, Paris, France
 74           NaN    Delaware, Ontario, Canada
 75           NaN            Algarve, Portugal
 76           NaN           Weatherford, Texas
 77           NaN      Los Angeles, California

                                               Details
 0                                                [77]
 1   Cadet and three friends were travelling to a g...
 2                                                 NaN
 3       Caliandro died in a motorcycle collision.[78]
 4   Victim remained unidentified until December 2015.
 ..                                                ...
 73                 Run over by a horse-drawn vehicle.
 74                    Knocked down by a pickup truck.
 75                                                NaN
 76                                              [108]
 77                                              [109]

 [78 rows x 10 columns],
                         Name  Birth  Death                   Aged  \
 0                   Jay Dahl   1945   1965               19 years
 1                 Jack Dakin   1996   2016               19 years
 2            LaShawn Daniels   1977   2019               41 years
 3                 Omar Daoud   1983   2018               35 years
 4           Vitaly Daraselia   1957   1982               25 years
 5                  Mike Darr   1976   2002               25 years
 6           Betty Jack Davis   1932   1953               21 years
 7                Jimmy Davis   1982   2003               21 years
 8               Victor Davis   1964   1989               25 years
 9                    Ann Day   1938   2016               77 years

In [35]:
full_df = tables[1]
df3 = tables[2]

In [36]:
df3

,Name,Birth,Death,Aged,Nationality,Notability,Mode of transport,Vehicle,Crash location,Details
0,Victor Cabedo,1989.0,2012,23 years,Spanish,cyclist,car,NaN,"Almedijar, Spain",[77]
1,"Cadet, real name Blaine Johnson",1990.0,2019,28 years,British,Rapper,car (passenger),Toyota Prius,"Betley, Staffordshire",Cadet and three friends were travelling to a g...
2,Tommy Caldwell,1949.0,1980,30 years,American,The Marshall Tucker Band bassist,car,Land Cruiser,"Spartanburg, South Carolina",NaN
3,Cosimo Caliandro,1982.0,2011,29 years,Italian,middle-distance runner,motorcycle,NaN,"Francavilla Fontana, Italy",Caliandro died in a motorcycle collision.[78]
4,Jason Callahan,1976.0,1995,19 years,American,NaN,car,NaN,"Emporia, Virginia",Victim remained unidentified until December 2015.
...,...,...,...,...,...,...,...,...,...,...
73,Pierre Curie,1859.0,1906,46 years,French,"chemist and physicist, 1903 Nobel Prize recipient",pedestrian,NaN,"Rue Dauphine, Paris, France",Run over by a horse-drawn vehicle.
74,Greg Curnoe,1936.0,1992,55 years,Canadian,painter,bicycle,NaN,"Delaware, Ontario, Canada",Knocked down by a pickup truck.
75,Steve Currie,1947.0,1981,33 years,British,bassist for T. Rex,car,NaN,"Algarve, Portugal",NaN
76,Mac Curtis,1939.0,2013,74 years,American,singer,car,NaN,"Weatherford, Texas",[108]
77,Ian Cuttler,1971.0,2014,43 years,Mexican,"art director, photographer & graphic design",car,NaN,"Los Angeles, California",[109]

In [34]:
full_df

,Name,Birth,Death,Aged,Nationality,Notability,Mode of transport,Vehicle,Crash location,Details
0,Roland Baar,1965.0,2018,53 years,German,rower,car,NaN,"Velpke, Germany",[24]
1,Sammy Babitzin,1948.0,1973,24 years,Finnish,singer,car,Alfa Romeo,"Route (Valatie) 13, Hietama, Äänekoski",Babitzin travelled in a speeding car en route ...
2,Pape Badiane,1980.0,2016,36 years,French,basketball player,car,NaN,"Frontenay-Rohan-Rohan, France",Badiane died in a car accident.[26]
3,Mirsada Bajraktarević,1951.0,1976,25 years,Bosnian,singer,car,Ford Granada,"Kolari, Smederevo, Yugoslavia",The car was reportedly travelling 130 km/h (80...
4,Tarnia Baker,1967.0,2017,50 years,South African,politician,pedestrian,NaN,"Park Rynie, South Africa",Struck by a truck while walking across a stree...
...,...,...,...,...,...,...,...,...,...,...
101,Cliff Burton,1962.0,1986,24 years,American,Metallica bass guitarist,tour bus,NaN,"European route E4 in Ljungby Municipality, Sweden",Thrown out of the window and crushed after the...
102,Norman Burton,1923.0,2003,79 years,American,actor,car,NaN,"Imperial, California, United States","Auto crash while returning from Ajijic, Mexico..."
103,Fred Buscaglione,1921.0,1960,38 years,Italian,"singer, musician",car,Ford Thunderbird,"Rome, Italy",collided with a truck
104,Rasual Butler,1979.0,2018,38 years,American,basketball player,car,Range Rover,"Studio City, California","His wife, singer Leah LaBelle died in the same..."
105,Dennis Byrd,1966.0,2016,50 years,American,football,car,Hummer H2,"Claremore, Oklahoma",[76]

In [39]:
for i in tables[i]:
    df2 = tables[i]
    df.append(df2)

TypeError: list indices must be integers or slices, not str

In [38]:
df

,Name,Birth,Death,Nationality,Notability,Mode of transport,Vehicle,Crash_location,Details,Age,Country
0,Norifumi Abe,1975,2007,Japanese,motorcycle racer,scooter,Yamaha XP 500 TMAX,"Kawasaki, Kanagawa, Japan","Collision with a truck, which made an illegal ...",32,Japan
1,Anand Abhyankar,1963,2012,Indian,actor,car,NaN,"Pune, Maharashtra, India",[3],49,India
2,Frank Adams,1930,1989,British,mathematician,car,NaN,"Brampton, Cambridgeshire, England, United Kingdom",NaN,58,United Kingdom
3,Olubayo Adefemi,1985,2011,Nigerian,footballer,car,NaN,"Kavala, Greece",Adefemi was driving on Egnatia Odos when he co...,25,Greece
4,Adegoke Adelabu,1915,1958,Nigerian,politician,car,NaN,"Lagos-Ibadan Expressway, Nigeria",NaN,42,Nigeria
5,Nick Adenhart,1986,2009,American,baseball pitcher,car,Mitsubishi Eclipse,"Fullerton, California",A drunk driver ran a red light and hit the car...,22,California
6,Adrian Adonis,1953,1988,American,professional wrestler,minivan,NaN,"Lewisporte, Newfoundland, Canada",Two other passengers in the vehicle in which h...,34,Canada
7,Emmanuel Kwasi Afranie,1943,2016,Ghanaian,football coach,car,NaN,"Suhum, Ghana",NaN,73,Ghana
8,Simonluca Agazzone,1981,2020,Italian,footballer,car,NaN,"Carpignano Sesia, Italy",NaN,39,Italy
9,Bruno Agostinelli,1987,2016,Canadian,tennis player,motorcycle,NaN,"Toronto, Ontario, Canada",Agostinelli lost control of his motorcycle and...,28,Canada
10,Ipče Ahmedovski,1966,1994,Macedonian,singer,car,Mercedes-Benz A124,"Šopići, Yugoslavia",Ahmedovski died in a car accident in 1994 on I...,28,Yugoslavia
11,Carl Albert,1962,1995,American,musician for Vicious Rumors,car,NaN,nan,NaN,32,nan
12,Martin Aldridge,1974,2000,British,footballer,car,Peugeot,"A45, England, United Kingdom",After being an unused substitute in a game for...,25,United Kingdom
13,Ben Alexander,1971,1992,Australian,rugby league player,car,NaN,"Colyton, New South Wales, Australia",He was driving while intoxicated.,20,Australia
14,Alexandra,1942,1969,German,singer,car,Mercedes-Benz W128,"Tellingstedt, Germany","While going on a holiday, Alexandra collided w...",27,Germany
15,Steve Allen,1921,2000,American,"actor, songwriter, author",car,NaN,"Encino, California",Died from a heart attack that was found to hav...,78,California
16,Duane Allman,1946,1971,American,guitarist for the Allman Brothers Band,motorcycle,Harley-Davidson,"Macon, Georgia",Allman lost control of his motorcycle when he ...,24,Georgia
17,Yasser Al-Masri,1970,2018,Jordanian,actor,car,NaN,"Zarqa, Jordan",Al–Masri descended a slope leading a bus in hi...,47,Jordan
18,Mahmadu Alphajor Bah,1977,2016,Sierra Leonean,footballer,car,NaN,"Freetown, Sierra Leone",He collided with an oncoming truck.[10],39,Sierra Leone
19,Andrei Amalrik,1938,1980,Russian,writer,car,NaN,"near Guadalajara, Spain",Amalrik swerved out of his lane on a wet road ...,42,Spain
20,John Anderson,1944,1986,American,race car driver,car,NaN,"near Charlotte, North Carolina",Crash occurred on Interstate 85.,42,North Carolina
21,Eric Andolsek,1966,1992,American,football player,stationary,NaN,"Thibodaux, Louisiana",Andolsek was working in the front yard of his ...,25,Louisiana
22,Theo Angelopoulos,1935,2012,Greek,film director,pedestrian,NaN,"Drapetsona, Greece",He was hit by a motorcycle driven by an off-du...,76,Greece
23,Jack Anglin,1916,1963,American,country music singer; one half of the duo John...,car,NaN,"Madison, Tennessee",Died in crash en route to funeral of Patsy Cline.,46,Tennessee
24,Álex Angulo,1953,2014,Spanish,actor,car,NaN,"Fuenmayor, La Rioja, Spain",[11],61,Spain
26,Cristiano Araújo,1986,2015,Brazilian,singer and songwriter,car (passenger),Range Rover,"Goiânia, Goiás, Brazil","At approximately 3:30 am, the vehicle (driven ...",29,Brazil
27,Troy Archer,1955,1979,American,football player,car,NaN,"North Bergen, New Jersey",NaN,24,New Jersey
28,Nike Ardilla,1975,1995,Indonesian,rock singer and model,car,Honda Civic Genio,"Bandung, West Java, Indonesia",She lost control and hit a wall.,19,Indonesia
29,Silvana Armenulić,1938,1976,Bosnian,singer,car,Ford Granada,"Kolari, Smederevo, Yugoslavia",The car was reportedly travelling 130 km/h (80...,38,Yugoslavia
30,Reg Armstrong,1926,1979,Irish,motorcycle racer,motorcycle,NaN,"Avoca, County Wicklow, Ireland",NaN,52,Ireland
31,Sándor Arnóth,1960,2011,Hungarian,politician,car,NaN,"Bag, Hungary",[14],51,Hungary
32,Carlos Arruza,1920,1966,Mexican,bullfighter,car,NaN,"Toluca, Estado de Mexico, Mexico",NaN,46,Mexico
33,Kevin Ash,1959,2013,British,motorcycling journalist,motorcycle,NaN,"George, Western Cape, South Africa",[15],53,South Africa
34,Don Ashby,1955,1981,Canadian,ice hockey player,car,NaN,"Kelowna, British Columbia, Canada",Collided head-on with a pickup truck and died.,26,Canada
35,Georgi Asparuhov,1943,1971,Bulgarian,footballer,car,NaN,Bulgaria,NaN,28,Bulgaria
36,Basil al-Assad,1962,1994,Syrian,eldest son and heir of president of Syria,car,Mercedes-Benz,"Damascus, Syria",While driving his car at high speed through fo...,31,Syria
37,Astrid of Sweden,1905,1935,Swedish,Queen of the Belgians,car (passenger),Packard One-Twenty convertible,"Küssnacht am Rigi, near Lake Lucerne, Schwyz, ...",As the Queen pointed out something on a map to...,29,Switzerland
38,Frank Attkisson,1955,2017,American,politician,bicycle,NaN,"St. Cloud, Florida",[19],61,Florida
39,Pascale Audret[20],1936,2000,French,actress,car (passenger),NaN,"Brive-la-Gaillarde, Corrèze, France",NaN,63,France
40,Seriki Audu,1991,2014,Nigerian,footballer,car,NaN,"Bauchi State, Nigeria",NaN,23,Nigeria
41,Sukhraj Aujla,1968,2013,Indian,singer,car,NaN,nan,[21],45,nan
42,Lauri Aus,1970,2003,Estonian,professional cyclist,bicycle,NaN,"Tartu, Estonia",Aus was struck by a truck during a workout ses...,32,Estonia
43,Theyab Awana,1990,2011,Emirati,footballer,car,NaN,"Abu Dhabi, United Arab Emirates",[23],21,United Arab Emirates

In [32]:
full_df

,Name,Birth,Death,Aged,Nationality,Notability,Mode of transport,Vehicle,Crash location,Details
0,Roland Baar,1965.0,2018,53 years,German,rower,car,NaN,"Velpke, Germany",[24]
1,Sammy Babitzin,1948.0,1973,24 years,Finnish,singer,car,Alfa Romeo,"Route (Valatie) 13, Hietama, Äänekoski",Babitzin travelled in a speeding car en route ...
2,Pape Badiane,1980.0,2016,36 years,French,basketball player,car,NaN,"Frontenay-Rohan-Rohan, France",Badiane died in a car accident.[26]
3,Mirsada Bajraktarević,1951.0,1976,25 years,Bosnian,singer,car,Ford Granada,"Kolari, Smederevo, Yugoslavia",The car was reportedly travelling 130 km/h (80...
4,Tarnia Baker,1967.0,2017,50 years,South African,politician,pedestrian,NaN,"Park Rynie, South Africa",Struck by a truck while walking across a stree...
...,...,...,...,...,...,...,...,...,...,...
101,Cliff Burton,1962.0,1986,24 years,American,Metallica bass guitarist,tour bus,NaN,"European route E4 in Ljungby Municipality, Sweden",Thrown out of the window and crushed after the...
102,Norman Burton,1923.0,2003,79 years,American,actor,car,NaN,"Imperial, California, United States","Auto crash while returning from Ajijic, Mexico..."
103,Fred Buscaglione,1921.0,1960,38 years,Italian,"singer, musician",car,Ford Thunderbird,"Rome, Italy",collided with a truck
104,Rasual Butler,1979.0,2018,38 years,American,basketball player,car,Range Rover,"Studio City, California","His wife, singer Leah LaBelle died in the same..."
105,Dennis Byrd,1966.0,2016,50 years,American,football,car,Hummer H2,"Claremore, Oklahoma",[76]

In [33]:
list_of_tables(tables)

NameError: name 'list_of_tables' is not defined